:root {
    --main-color: #09406c;
    --text-color: #000000; /* Changed text color to white for better contrast */
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0; 
}

/* Header Styles */
header {
    display: flex; /* Changed to flex for simpler layout */
    justify-content: space-between; /* Align logo and navigation to opposite ends */
    align-items: center;
    padding: 20px;
    background-color: var(--main-color);
}

header img {
    width: auto;
    height: 200px;
    max-width: 800px
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Main Styles */
main {
    padding: 20px;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center; /* Center align content */
}

section h2 {
    color: var(--main-color);
}

section img {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center horizontally */
    display: block;
}

/* Footer Styles */
footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    width: 30px;
    margin: 10px;
    transition: opacity 0.3s ease; /* Added transition effect */
}

footer img:hover {
    opacity: 0.7;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    padding: 8px;
    text-align: left;
}

.trip-table th {
    background-color: var(--main-color);
    color: white;
}

.trip-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
