:root {
    --main-color: #007bff;
    --text-color: black;
}

body {
    font-family: 'Lato', sans-serif; /* Change font-family */
    color: var(--text-color);
    margin: 0;
    padding: 0; 
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--main-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header img {
    height: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width:80%;
}

.hero article img {
    float: right;
    margin-left: 20px;
    border-radius: 50%;
    width: 100px;
}

.hero article p {
    color: white;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

section h2 {
    color: var(--main-color);
}

section img {
    width: 20%;
    margin: 5px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
    color: black;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center; /* Center align text */
    padding: 20px;
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center;
    flex-direction: column; /* Align items vertically */
}

footer img {
    width: 30px;
    margin: 10px;
}

footer img:hover {
    opacity: 0.7;
}
