/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

nav a:hover {
    background-color: #4682b4; /* Darker shade of steelblue on hover */
}

/* Header */
h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
}

/* Main Content */
main {
    max-width: 90%; /* Adjusted max-width for responsiveness */
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr; /* Adjusted grid layout */
    gap: 1rem;
}

main img {
    width: 100%; /* Adjusted width for responsiveness */
    height: auto;
}

/* Aside */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative; /* Added position relative */
}

aside img {
    width: 100%; /* Adjusted width for responsiveness */
    height: auto;
}

/* Footer */
footer {
    margin-top: 1rem; /* Adjusted margin-top for spacing */
    border-top: 1px solid #000;
    text-align: center;
    padding: 0.5rem;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Example grid layout */
    gap: 1rem;
}

.grid-item {
    background-color: lightblue;
    padding: 1rem;
}

.large {
    grid-template-columns: repeat(3, 1fr); /* Specifies three columns with equal width */
}
